.table {
  min-width: 700px;
}

.table .thead-dark th {
  background: #004F28;
  font-size: 12px;
  font-weight: 100 !important;
  border: none;
  padding: 10px;
}

.table td, .table th {
  font-size: 10px;
  vertical-align: baseline;
  border-top: 1px solid #FFFFFF;
  color: #000000;
  font-weight: normal;
}

.table-sm td, .table-sm th {
  font-size: 10px;
  padding: .3rem;
  vertical-align: baseline;
  border-top: 1px solid #FFFFFF;
  color: #000000;
  font-weight: normal;
}


.table-hover {
  tbody tr {
    background: #F7F7F7;
  }
  tbody tr:hover {
    input:disabled {
      background-color: #d9d9d9;
    }
    background-color: #d9d9d9;
  }
}
